<a href="https://colab.research.google.com/github/ayuksekdag/winacademy_python_dna/blob/main/pandas_country.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_birth_rate")
countries = tables[0]
countries.head(3)

,Country/territory,WB 2018 (Rate ‰),OECD 2011 (Rate ‰),CIA WF 2013 (Rate ‰),CIA WF 2014 (Rate ‰),CIA WF 2020 (Rate ‰),PRB 2022 (Rate ‰)
,Country/territory,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,Afghanistan,32.0,45.1,39.05,38.84,36.7,36.0
1,Albania,12.0,11.5,12.57,12.73,13.0,10.0
2,Algeria,24.0,24.8,24.25,23.99,20.0,22.0

In [38]:
countries = countries.droplevel(0, axis=1) 
countries.head(3)

,Country/territory,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1
0,Afghanistan,32.0,45.1,39.05,38.84,36.7,36.0
1,Albania,12.0,11.5,12.57,12.73,13.0,10.0
2,Algeria,24.0,24.8,24.25,23.99,20.0,22.0

In [40]:
countries.rename(columns={'Country/territory':'country', 'Unnamed: 1_level_1':'1_level_1', 'Unnamed: 2_level_1':'2_level_1',
       'Unnamed: 3_level_1':'3_level_1', 'Unnamed: 4_level_1':'4_level_1', 'Unnamed: 5_level_1':'5_level_1',
       'Unnamed: 6_level_1':'6_level_1'}, inplace=True)
countries.columns

Index(['country', '1_level_1', '2_level_1', '3_level_1', '4_level_1',
       '5_level_1', '6_level_1'],
      dtype='object')

In [42]:
countries.head(3)

,country,1_level_1,2_level_1,3_level_1,4_level_1,5_level_1,6_level_1
0,Afghanistan,32.0,45.1,39.05,38.84,36.7,36.0
1,Albania,12.0,11.5,12.57,12.73,13.0,10.0
2,Algeria,24.0,24.8,24.25,23.99,20.0,22.0