<a href="https://colab.research.google.com/github/ayuksekdag/winacademy_python_dna/blob/main/final_assignment/final_co2Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment**

- What is the biggest predictor of a large CO2 output per capita of a country?
- Which countries are making the biggest strides in decreasing CO2 output?
- Which non-fossil fuel energy technology will have the best price in the future?

In [1]:
import pandas as pd

In [22]:
# sources
# source 1: https://ourworldindata.org/grapher/gdp-per-capita-worldbank
# filename:per-capita-energy-use.csv
# alias: engy_cap

# source 2: https://ourworldindata.org/grapher/per-capita-energy-use
# filename: gdp-per-capita-worldbank
# alias: gdp_cap


gdp_cap = pd.read_csv('https://raw.githubusercontent.com/ayuksekdag/winacademy_python_dna/main/final_assignment/gdp-per-capita-worldbank.csv')
engy_cap = pd.read_csv('https://raw.githubusercontent.com/ayuksekdag/winacademy_python_dna/main/final_assignment/per-capita-energy-use.csv')

In [3]:
# gdp_cap.head(3)
# engy_cap.head(3)

In [23]:
#rename long column names with spaces and special characters
engy_cap.rename(columns={'Primary energy consumption per capita (kWh/person)': 'energy_consumption'}, inplace=True)
gdp_cap.rename(columns={'GDP per capita, PPP (constant 2017 international $)': 'gdp'}, inplace=True)
# print(gdp_cap.dtypes)
# print(engy_cap.dtypes)

In [24]:
#change datatype year to datetime
gdp_cap['Year'] = pd.to_datetime(gdp_cap['Year'], format='%Y')
engy_cap['Year'] = pd.to_datetime(engy_cap['Year'], format='%Y')
print(gdp_cap.dtypes)
print(engy_cap.dtypes)
print(f' \n grootte engy_cap  {engy_cap.shape}')
print(f' \n grootte gdp_cap {gdp_cap.shape}')

Entity            object
Code              object
Year      datetime64[ns]
gdp              float64
dtype: object
Entity                        object
Code                          object
Year                  datetime64[ns]
energy_consumption           float64
dtype: object

 grootte engy_cap  (10602, 4)

 grootte gdp_cap (6346, 4)

In [6]:
df2 = gdp_cap.set_index('Year')
df1 = engy_cap.set_index('Year')

In [26]:
gdp_engy_cap = (
    pd.merge(gdp_cap,engy_cap, how="inner", on=['Year','Code'], suffixes=('', '_y'))
    .drop(['Entity_y','Code'], axis=1)
)
gdp_engy_cap.head(2)
gdp_engy_cap.shape

(10362, 4)

In [38]:
#which country codes do not exist in gdp_cap


filter_remove_engy_cap_country_codes = engy_cap[engy_cap.Code.isin(gdp_cap.Code) == False]['Code'].unique()
filter_remove_engy_cap_country_codes

array(['ASM', 'VGB', 'COK', 'CUB', 'OWID_CZS', 'ERI', 'FLK', 'FRO', 'GUF',
       'PYF', 'GRL', 'GLP', 'GUM', 'MTQ', 'MSR', 'ANT', 'NCL', 'NIU',
       'PRK', 'MNP', 'REU', 'SHN', 'SPM', 'OWID_SRM', 'SSD', 'SYR', 'TWN',
       'OWID_USS', 'VIR', 'VEN', 'ESH', 'YEM', 'OWID_YGS'], dtype=object)

In [41]:
engy_cap[engy_cap.Code.isin(['TUR'])]

      Entity Code       Year  energy_consumption
9565  Turkey  TUR 1965-01-01           2914.2530
9566  Turkey  TUR 1966-01-01           3261.0240
9567  Turkey  TUR 1967-01-01           3286.5618
9568  Turkey  TUR 1968-01-01           3731.1514
9569  Turkey  TUR 1969-01-01           3975.2002
9570  Turkey  TUR 1970-01-01           4127.1455
9571  Turkey  TUR 1971-01-01           4466.0000
9572  Turkey  TUR 1972-01-01           4878.6094
9573  Turkey  TUR 1973-01-01           5406.5815
9574  Turkey  TUR 1974-01-01           5395.2124
9575  Turkey  TUR 1975-01-01           5890.2160
9576  Turkey  TUR 1976-01-01           6498.4795
9577  Turkey  TUR 1977-01-01           6960.9546
9578  Turkey  TUR 1978-01-01           7200.4688
9579  Turkey  TUR 1979-01-01           6651.5100
9580  Turkey  TUR 1980-01-01           6770.3345
9581  Turkey  TUR 1981-01-01           6695.7960
9582  Turkey  TUR 1982-01-01           7153.0215
9583  Turkey  TUR 1983-01-01           7223.8630
9584  Turkey  TUR 1984-01-01           7435.6245
9585  Turkey  TUR 1985-01-01           7851.2905
9586  Turkey  TUR 1986-01-01           8376.5490
9587  Turkey  TUR 1987-01-01           9357.8950
9588  Turkey  TUR 1988-01-01          10088.4860
9589  Turkey  TUR 1989-01-01           9710.3530
9590  Turkey  TUR 1990-01-01          10345.2720
9591  Turkey  TUR 1991-01-01          10370.7230
9592  Turkey  TUR 1992-01-01          10715.4180
9593  Turkey  TUR 1993-01-01          11443.6420
9594  Turkey  TUR 1994-01-01          10889.1270
9595  Turkey  TUR 1995-01-01          11981.6150
9596  Turkey  TUR 1996-01-01          12855.4970
9597  Turkey  TUR 1997-01-01          13231.3650
9598  Turkey  TUR 1998-01-01          13358.5730
9599  Turkey  TUR 1999-01-01          12813.2100
9600  Turkey  TUR 2000-01-01          13486.6760
9601  Turkey  TUR 2001-01-01          12073.2470
9602  Turkey  TUR 2002-01-01          13026.9795
9603  Turkey  TUR 2003-01-01          13613.3530
9604  Turkey  TUR 2004-01-01          14380.4390
9605  Turkey  TUR 2005-01-01          14507.7640
9606  Turkey  TUR 2006-01-01          15888.1030
9607  Turkey  TUR 2007-01-01          16664.8930
9608  Turkey  TUR 2008-01-01          16521.7680
9609  Turkey  TUR 2009-01-01          16535.2340
9610  Turkey  TUR 2010-01-01          17211.7580
9611  Turkey  TUR 2011-01-01          18146.1430
9612  Turkey  TUR 2012-01-01          18988.3200
9613  Turkey  TUR 2013-01-01          18532.3070
9614  Turkey  TUR 2014-01-01          18718.5940
9615  Turkey  TUR 2015-01-01          20173.4960
9616  Turkey  TUR 2016-01-01          20824.3930
9617  Turkey  TUR 2017-01-01          21773.7250
9618  Turkey  TUR 2018-01-01          21345.3750
9619  Turkey  TUR 2019-01-01          21973.0620
9620  Turkey  TUR 2020-01-01          21435.0700
9621  Turkey  TUR 2021-01-01          22817.1820
9622  Turkey  TUR 2022-01-01          22824.1500

In [20]:
#which country codes do not exist in gdp_cap
# remove those countries
engy_cap.drop(
    engy_cap[engy_cap[engy_cap.Code.isin(filter_remove_engy_cap_country_codes)]].index, inplace=True
)
print(engy_cap)

Empty DataFrame
Columns: [Entity, Code, Year, energy_consumption]
Index: []

In [9]:
gdp_cap[gdp_cap.Code.isin(engy_cap.Code) == False]['Entity'].unique()

array(['Curacao', 'Marshall Islands', 'Palau', 'San Marino',
       'Sint Maarten (Dutch part)'], dtype=object)